.fondo {
    width: 100%;
    background: url(../images/fondocab.jpg) no-repeat 50% 50% / cover;
}

    .fondo>.slogan {
        width: 90%;
        position: absolute;
        left: 3%;
        font-family: 'Permanent Marker', cursive;
        color: #44D62C;
        text-shadow: 0 0 15px black;
        filter: drop-shadow(0 0 10px black);
    }

    header {
        z-index: 10;
    }

@media screen and (min-width:1281px) {
    .fondo {
        height: 50em;
    }

    .fondo>.slogan {
        top: 14em;
        font-size: 3rem;
    }

    header>nav>.menu li>a {
        padding: 8%;
    }

        header>nav>.menu>li:hover li {
            background: url(../images/fiber1index.jpg) repeat-x;
        }
}

@media screen and (min-width:501px) and (max-width:1280px) {
    .fondo {
        height: 45em;
    }

    .fondo>.slogan {
        top: 15em;
        font-size: 2.5rem;
    }
}

@media screen and (max-width:500px) {
    .fondo {
        height: 40em;
    }

    .fondo>.slogan {
        top: 2.4em;
        font-size: 2rem;
    }
}