.fondo {
    width: 100%;
    height: 25em;
    background: url(../images/razer.jpg) no-repeat 50% 50% / cover;
}

    header {
        background: url(../images/fiber1index.jpg) repeat-x;
        position: absolute;
        z-index: 10;
    }

        header>nav>.menu li>a {
            padding: 8%;
        }

            header>nav>.menu>li:hover li {
                background: url(../images/fiber1index.jpg) repeat-x;
            }