header {
    display: inline-flex;
    flex-flow: row nowrap;
    align-content: space-between;
    width: 100%;
    background: url(../images/fiber1.jpg) repeat;
    align-self: flex-start;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
    header>.imgcabecera {
        width: 12%;
        align-self: center;
    }

        header>.imgcabecera img {
            width: 100%;
        }

    header>nav {
        width: 88%;
        align-self: center;
    }

        header>nav ul {
            list-style: none;
        }

        header>nav>.menu {
            display: inline-flex;
            width: 100%;
        }

            header>nav>.menu>li {
                text-align: center;
                vertical-align: top;
                display: inline-block;
                width: 25%;
            }

                header>nav>.menu li>a {
                    color: #44D62C;
                    padding: 5%;
                    display: block;
                    transition: color .5s linear, background-color .5s linear;
                }
                    header>nav>.menu li>a:hover{
                        color: black;
                        background-color: #44D62C;
                        transition: color .5s linear, background-color .5s linear;
                    }

            header>nav>.menu ul {
                width: 22%;
            }

                header>nav>.menu ul li {
                    display: none;
                    transition: all .5s linear;
                }
                    header>nav>.menu>li:hover ul {
                        position: absolute;
                    }
                    header>nav>.menu>li:hover li {
                        display: block;
                        visibility: visible;
                        transition: all .5s linear;
                        background: url(../images/fiber1.jpg) repeat;
                    }

@media screen and (min-width: 1280px) {
    header>.hamb {
        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 1280px) {
    header {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        font-size: .8rem;
    }
}