.formulario  {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 3% 0;
}

    .formulario>form {
        background-color: grey;
        border-radius: 15px;
        animation: colors 5s linear infinite;
        padding: 0 5%;
        margin: 1%;
    }

        .formulario>form>fieldset {
            margin: 5% 0;
        }

            .formulario legend {
                font-weight: bold;
                color: lightgray;
            }

            .formulario .areaescritura,
            .formulario .fechanac,
            .formulario .selpais,
            .formulario .selmotivo {
                display: flex;
                flex-flow: row nowrap;
                margin: 2% 0;
                align-items: center;
            }

                .formulario .areaescritura>label,
                .formulario .selpais>label,
                .formulario .fechanac>label,
                .formulario .selmotivo>label {
                    align-self: center;
                    font-weight: bold;
                }

                .formulario .textarea>label {
                    align-self: flex-start;
                }

                .formulario .areaescritura>textarea,
                .formulario .areaescritura>input,
                .formulario .selpais>select,
                .formulario .selmotivo>select {
                    border-radius: 5px;
                    background-color: #333333;
                    color: whitesmoke;
                    padding: 0.5%;
                }
                    .formulario textarea::placeholder,
                    .formulario input::placeholder {
                        color: whitesmoke;
                    }

                .formulario .fechanac>.rest {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row nowrap;
                    align-items: center;
                }

                    .formulario .fechanac>.rest>input,
                    .formulario .fechanac>.rest>select {
                        border-radius: 5px;
                        background-color: #333333;
                        color: whitesmoke;
                        padding: 0.5%;
                    }

                .formulario .areaescritura>input,
                .formulario .selpais>select,
                .formulario .selmotivo>select,
                .formulario .fechanac>.rest>input,
                .formulario .fechanac>.rest>select {
                    height: 2em;
                }

                .formulario .selpais>select {
                    cursor: pointer;
                }

            .formulario .checkboxes {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                margin: 2% 0;
            }

                .formulario .checkboxes>input {
                    width: 5%;
                    cursor: pointer;
                    margin-top: 2%;
                }

                .formulario .checkboxes>label {
                    width: 95%;
                    cursor: pointer;
                    margin-top: 2%;
                }

        .formulario .botones {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin: 0 0 5% 0;
        }

            .formulario .botones>.boton {
                border-radius: 5px;
                background-color: lightgray;
            }
                .formulario .botones>.boton:hover {
                    cursor: pointer;
                    background-color: black;
                    color: #44D62C;
                }

@media screen and (min-width:1281px) {    
    form {
        width: 75%;
    }

    .formulario .areaescritura>label,
    .formulario .selpais>label,
    .formulario .fechanac>label,
    .formulario .selmotivo>label {
        width: 30%;
    }

    .formulario .areaescritura>textarea,
    .formulario .areaescritura>input,
    .formulario .selpais>select,
    .formulario .selmotivo>select,
    .formulario .fechanac>.rest {
        width: 80%;
    }

    .formulario .fechanac>.rest>input,
    .formulario .fechanac>.rest>select {
        width: 30%;
    }

    .formulario .botones>.boton {
        width: 20%;
        height: 2em;
    }
}

@media screen and (min-width:501px) and (max-width:1280px) {
    form {
        width: 80%;
    }

    .formulario .areaescritura>label,
    .formulario .selpais>label,
    .formulario .fechanac>label,
    .formulario .selmotivo>label {
        width: 30%;
        margin: 2% 0;
    }

    .formulario .areaescritura>textarea,
    .formulario .areaescritura>input,
    .formulario .selpais>select,
    .formulario .selmotivo>select,
    .formulario .fechanac>.rest {
        width: 70%;
    }

    .formulario .fechanac>.rest>input,
    .formulario .fechanac>.rest>select {
        width: 25%;
    }

    .formulario .botones>.boton {
        width: 30%;
        height: 3em;
        margin-bottom: 2%;
    }
}

@media screen and (max-width:500px) {
    form {
        width: 100%;
    }

    .formulario .areaescritura,
    .formulario .fechanac,
    .formulario .selpais,
    .formulario .selmotivo {
        flex-flow: row wrap;
    }

    .formulario .areaescritura>label,
    .formulario .selpais>label,
    .formulario .fechanac>label,
    .formulario .selmotivo>label {
        width: 100%;
        margin: 2% 0;
    }

    .formulario .areaescritura>textarea,
    .formulario .areaescritura>input,
    .formulario .selpais>select,
    .formulario .selmotivo>select,
    .formulario .fechanac>.rest {
        width: 100%;
    }

    .formulario .fechanac>.rest>input,
    .formulario .fechanac>.rest>select {
        width: 25%;
    }

    .formulario .botones>.boton {
        width: 80%;
        height: 2em;
        margin-bottom: 2%;
    }
}