.contvideo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
}

    video {
        width: 100%;
    }

.intro {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 1%;
    text-align: center;
}

    .infratitulo {
        font-family: 'Play', sans-serif;
        font-weight: normal;
        width: 100%;
        font-size: 2rem;
        margin-bottom:1%;
    }

    .textvisit {
        width: 70%;
        font-size: 1.2rem;
    }

section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

        .slider>input{
            display: none;
        }

        .slider>.cont{
            margin: 2% auto;
            width: 700px;
            height: 380px;
            overflow: hidden;
            animation: colors 5s linear infinite;
        }

            .slider .image{
                width: 2800px;
                height: 380px;
                animation: movimiento 12s linear infinite;
            }

                .slider img{
                    float: right;
                    width: 700px;
                }

    .tablita {
        width: 80%;
        display: inline-flex;
        flex-flow: row wrap;
        border: 3px solid black;
        background-color: #333333;
        color: #BBBBBB;
        animation: colors 5s linear infinite;
        margin: 5% 0;
    }

        .titabla {
            width: 100%;
            font-size: 2rem;
            padding: 1%;
            text-align: center;

        }

        .tienda {
            width: 100%;
            display: inline-flex;
            flex-flow: row nowrap;
            align-content: center;
            border-top: 2px solid whitesmoke;
        }

            .nombretienda {
                width: 25%;
                padding: 1%;
                text-align: center;
                align-self: center;
            }

            .imgtienda {
                width: 25%;
                height: 8em;
                border-left: 2px solid whitesmoke;
                border-right: 2px solid whitesmoke;
            }

                .uno {
                    background: url(../images/store1.png) no-repeat 50% 50% / cover;
                }
                    .uno:hover {
                        filter: grayscale(1);
                    }

                .dos {
                    background: url(../images/store2.jpg) no-repeat 50% 50% / cover;
                }
                    .dos:hover {
                        filter: sepia(1);
                    }

                .tres {
                    background: url(../images/store3.jpg) no-repeat 50% 50% / cover;
                }
                    .tres:hover {
                        filter: hue-rotate(180deg);
                    }

                .cuatro {
                    background: url(../images/store4.png) no-repeat 50% 50% / cover;
                }
                    .cuatro:hover {
                        filter: saturate(1000%);
                    }

                .cinco {
                    background: url(../images/store1.png) no-repeat 50% 50% / cover;
                }
                    .cinco:hover {
                        filter: invert(1);
                    }

            .dir {
                width: 50%;
                display: inline-flex;
                flex-flow: row wrap;
            }

                .dir>.lineadir {
                    width: 100%;
                    height: 4em;
                    display: inline-flex;
                }

                    .lineadir>p {
                        align-self: center;
                        padding: 0 3%;
                    }

                    .sup {
                        border-bottom: 2px solid whitesmoke;
                    }

@keyframes movimiento{
	0%{ margin-left: 0px; }
	22%{ margin-left: 0px; }
	25%{ margin-left:-700px; }
	47%{ margin-left: -700px; }
    50%{ margin-left: -1400px; }
    72%{ margin-left: -1400px; }
    75%{ margin-left: -2100px; }
    97%{ margin-left: -2100px; }
    100%{ margin-left: 0px; }
}