.contvideo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
    overflow: hidden;
}

    video {
        height: 100%;
    }

.intro {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 1%;
    text-align: center;
}

    .infratitulo {
        font-family: 'Play', sans-serif;
        font-weight: normal;
        width: 100%;
        margin-bottom:1%;
    }

    .textvisit {
        font-size: 1.2rem;
    }

section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

        .slider>input{
            display: none;
        }

        .slider>.cont{
            margin: 5% auto 3% auto;
            width: 60%;
            overflow: hidden;
            animation: colors 5s linear infinite;
        }

            .slider .image{
                width: 400%;
                height: 100%;
                animation: movimiento 12s linear infinite;
            }

                .slider img{
                    float: right;
                    width: 25%;
                    height: 100%;
                }

    .tablita {
        display: inline-flex;
        flex-flow: row wrap;
        border: 3px solid black;
        background-color: #333333;
        color: #BBBBBB;
        animation: colors 5s linear infinite;
        margin: 5% 0;
    }

        .titabla {
            width: 100%;
            padding: 1%;
            text-align: center;
        }

        .tienda {
            width: 100%;
            display: inline-flex;
            border-top: 3px solid whitesmoke;
        }

            .nombretienda {
                padding: 1%;
                text-align: center;
                align-self: center;
                color: whitesmoke;
            }

            .imgtienda {
                border-left: 2px solid whitesmoke;
            }

                .uno {
                    background: url(../images/store1.png) no-repeat 50% 50% / cover;
                }
                    .uno:hover {
                        filter: grayscale(1);
                    }

                .dos {
                    background: url(../images/store2.jpg) no-repeat 50% 50% / cover;
                }
                    .dos:hover {
                        filter: sepia(1);
                    }

                .tres {
                    background: url(../images/store3.jpg) no-repeat 50% 50% / cover;
                }
                    .tres:hover {
                        filter: hue-rotate(180deg);
                    }

                .cuatro {
                    background: url(../images/store4.png) no-repeat 50% 50% / cover;
                }
                    .cuatro:hover {
                        filter: saturate(1000%);
                    }

                .cinco {
                    background: url(../images/store1.png) no-repeat 50% 50% / cover;
                }
                    .cinco:hover {
                        filter: invert(1);
                    }

            .dir {
                display: inline-flex;
            }

                .dir>.lineadir {
                    display: inline-flex;
                }

                    .lineadir>p {
                        width: 100%;
                        align-self: center;
                        padding: 0 3%;
                    }

@keyframes movimiento{
	0%{ margin-left: 0; }
	22%{ margin-left: 0; }
	25%{ margin-left:-100%; }
	47%{ margin-left: -100%; }
    50%{ margin-left: -200%; }
    72%{ margin-left: -200%; }
    75%{ margin-left: -200%; }
    97%{ margin-left: -200%; }
    100%{ margin-left: 0; }
}

@media screen and (min-width:1281px) {
    .infratitulo {
        font-size: 2rem;
    }

    .textvisit {
        width: 70%;
    }

        .slider>.cont{
            width: 50vw;
            height: 25vw;
        }

    .tablita {
        width: 80%;
    }

        .titabla {
            font-size: 2rem;
        }

        .tienda {
            flex-flow: row nowrap;
        }

        .nombretienda {
            width: 25%;
        }

        .imgtienda {
            width: 25%;
            height: 8em;
            border-right: 2px solid whitesmoke;
        }

    .sup {
        border-bottom: 2px solid whitesmoke;
    }

    .dir {
        width: 50%;
        flex-flow: row wrap;
    }

        .dir>.lineadir {
            width: 100%;
            height: 4em;
        }
}

@media screen and (min-width:501px) and (max-width:1280px) {
    .infratitulo {
        font-size: 1.9rem;
    }

    .textvisit {
        width: 80%;
    }

        .slider>.cont{
            width: 70vw;
            height: 35vw;
        }

    .tablita {
        width: 90%;
    }

        .titabla {
            font-size: 1.6rem;
        }

        .tienda {
            flex-flow: row wrap;
        }

            .nombretienda {
                width: 40%;
            }

            .imgtienda {
                width: 60%;
                height: 12em;
            }

            .dir {
                width: 100%;
                flex-flow: row nowrap;
                border-top: 2px solid whitesmoke;
            }

                .dir>.lineadir {
                    height: 4.5em;
                    text-align: center;
                }

                .dir>.sup {
                    width: 40%;
                }

                .bot {
                    width: 60%;
                    border-left: 2px solid whitesmoke;
                }
}

@media screen and (max-width:500px) {
    .infratitulo {
        font-size: 1.7rem;
    }

    .textvisit {
        width: 90%;
    }

        .slider>.cont{
            width: 90vw;
            height: 45vw;
        }

    .tablita {
        width: 95%;
    }

        .titabla {
            font-size: 1.3rem;
        }

        .tienda {
            flex-flow: row wrap;
        }

            .nombretienda {
                width: 40%;
            }

            .imgtienda {
                width: 60%;
                height: 10em;
            }

            .dir {
                width: 100%;
                flex-flow: row nowrap;
                border-top: 2px solid whitesmoke;
            }

                .dir>.lineadir {
                    height: 5em;
                    text-align: center;
                }

                .dir>.sup {
                    width: 40%;
                }

                .dir>.bot {
                    width: 60%;
                    border-left: 2px solid whitesmoke;
                }
}