footer {
    display: inline-flex;
    width: 100%;
    background: url(../images/fiber2.jpg) repeat;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 1%;
    align-self: flex-end;
}

    footer * {
        color: #44D62C;
        font-size: 1rem;
    }

    footer>.redes{
        display: inline-flex;
        width: 15%;
        flex-flow: row nowrap;
        margin-right: 3%;
    }

        footer>.redes>.rrss {
            width: 25%;
            text-align: center;
        }

            footer>.redes>.rrss>a {
                padding: 20%;
            }

                footer .fab {
                    font-size: 1.2rem;
                }